# --- Version CPU uniquement (Indispensable pour Docker léger) ---
--extra-index-url https://download.pytorch.org/whl/cpu

# Core IA
torch
torchaudio
openai-whisper
librosa
textblob
scipy
numpy
pandas

# API & Web
streamlit
streamlit-audiorecorder
fastapi
uvicorn
python-multipart

# MLOps & Infra
mlflow
prometheus-client
pyyaml
matplotlib
ffmpeg-python