# --- Version CPU uniquement (Indispensable pour Docker léger) ---
--extra-index-url https://download.pytorch.org/whl/cpu

# Core IA
torch
torchaudio
openai-whisper
librosa
soundfile
textblob
scipy
numpy
pandas

# API & Web
fastapi
uvicorn
python-multipart

# MLOps & Infra
mlflow
prometheus-client
pyyaml
matplotlib
ffmpeg-python
transformers

# ML / Data
scikit-learn
joblib
psycopg2-binary
